.flat {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;
}

.flat:hover {
  opacity: 0.9;
}

.flat-picture {
  height: 180px;
  background-size: cover;
}

.flat-title {
  margin-top: 10px;
}
