.marker {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  width: 36px;
  text-align: center;
  font-size: 15px;
}

.marker.selected {
  background-color: lightyellow;
  border-color: black;
  font-weight: bold;
}
